.check-email-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .check-email-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .check-email-subtitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .check-email-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
  }
  
  .otp-container {
    width: 100%;
  }
  
  .otp-input {
    width: 358px;
    height: 40px;
    padding: 0 0.75rem;
    border-radius: 8px;
    border: 1px solid #d1d5db;
  }
  
  .otp-input:focus {
    outline: none;
    ring: 2px;
    ring-color: #1ac073;
    border-color: transparent;
  }
  
  .resend-code-button {
    width: 258px;
    height: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #1ac073;
  }
  
  